body{
  font-family: Arial;
  margin:0;
  background:#f5f5f5;
}

html, body, #root{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1;
  max-width:1200px;
  margin:0 auto;
  display:flex;
  gap:20px;
  padding:20px;
  justify-content:center;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

